<!-- -->
<br>
<br>
<div id="resume">
	<div class="contactInfo">
		<h1>
		{{profileInformation.fullName}}
		</h1>
		<div class="section contact">
			<h2 class="section-header">
			
			</h2>
			<div class="contactInfo">
				<span class="glyphicon glyphicon-home"></span>
				<span class="content">{{profileInformation.linkedin.location.name}}</span>
				<span class="glyphicon glyphicon-earphone"></span>
				<span class="content">Phone</span>
			</div>
			<span class="glyphicon glyphicon-envelope"></span>
			<span class="content">Email</span>
			
		</div>
	</div>
	<div class="section educations">
		<h2 class="section-header">
		<span class="text">Education</span>
		</h2>
		<div class="content">	  <div class="education first" ng-repeat="educations in profileInformation.linkedin.educations.values">
			<div class="school-name">{{educations.schoolName}}</div>
			<div class="dates">
				<span class="start-year">{{educations.startDate.year}}</span>
				<span class="date-separator">-</span>
				<span class="end-year">{{educations.endDate.year}}</span>
			</div>
			<div class="program">
				<span>{{educations.degree}}</span>
				<span>,</span>
				<span>{{educations.fieldOfStudy}}</span>
				
			</div>
		</div>
	</div>
</div>
<div class="section skills">
	<h2 class="section-header">
	<span class="text">Skills</span>
	</h2>
	<div class="content">  <ul class="skills-list">
		<li class="skill first" ng-repeat="skill in profileInformation.linkedin.skills.values">
			<span class="skill-name">{{skill.skill.name}}</span>
		</li>
	</ul>
</div>
<div class="clear"></div>
</div>
<div class="section positions">
<h2 class="section-header">
<span class="text">Experience</span>
</h2>
<div class="content">	  <div class="position first" ng-repeat="position in profileInformation.linkedin.positions.values">
	<div class="company-name">{{position.company.name}}</div>
	<div class="dates">
		<span class="start-month">{{position.startDate}}</span>
		<span class="date-separator">-</span>
		<span class="is-current">{{position.endDate}}</span>
	</div>
	<div class="title">{{position.title}}</div>
	<div class="job-summary"><p>{{position.summary}}</p>
	</div>
</div>
</div>
<div class="clear"></div>
</div>
<div class="footer"></div>
</div>


<div layout="column" layout-fill class='resumeFormal'>
<md-whiteframe class="md-whiteframe-z1">
<div class = 'contactInfo'>
<h1>
{{profileInformation.fullName}}
</h1>
<div>
<span class="glyphicon glyphicon-home"></span>
<span class="content">{{profileInformation.linkedin.location.name}}</span>
<span class="glyphicon glyphicon-earphone"></span>
<span class="content">Phone</span>
<div>
	<span class="glyphicon glyphicon-envelope"></span>
	<span class="content">Email</span>
</div>
</div>
</div>
<br>
<br>

<div class="row">
		<div class="col-md-3 educationFormal">
		<h2>EDUCATION</h2>
		</div>
		<div ng-repeat="educations in profileInformation.linkedin.educations.values"> 
			<div class="col-md-3 educationFormal">
		</div>

		<div class="col-md-7" >	 
			<div>{{educations.schoolName}}
			</div>
	
				<span>{{educations.degree}}</span>,
				<span>{{educations.fieldOfStudy}}</span>
	</div>
			<div class="col-md-2 educationFormal">
				<span class="start-year">{{educations.startDate.year}}</span>
				-
				<span class="end-year">{{educations.endDate.year}}</span>
			</div>
			<br>
			<br>
			<br>
</div>
</div>

<div class="row">
		<div class="col-md-3 educationFormal">
		<h2>SKILLS</h2>
		</div>

			
	<ul class="col-md-7 col-lg-7 skills">
		<li class="skill first" ng-repeat="skill in profileInformation.linkedin.skills.values">
			<span class="skill-name">{{skill.skill.name}}</span>
		</li>
	</ul>
</div>
<br>
<br>


<div class="row">
		<div class="col-md-3 educationFormal">
		<h2>EXPERIENCE</h2>
		</div>
<div ng-repeat="position in profileInformation.linkedin.positions.values"> 
	<div class="col-md-3 educationFormal">
		</div>


		<div class="col-md-7">	 
			<div class='bold'>{{position.company.name}}
			</div>
			<div>{{position.title}}
			</div>
				<br>
			<div>{{position.summary}}
			</div>
			<br>
	
				
	</div>
			<div class="col-md-2 educationFormal">
				<span class="start-year">{{position.startDate}}</span>
				-
				<span class="end-year">{{position.endDate}}</span>
			</div>
</div>
</div>


</md-whiteframe>
</div>