<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
  <a href = "/main/profile/123"><button class= 'btn-danger'>CREATE AN ACCOUNT</button></a>
</header>
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>
  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
    <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
    <span class="input-group-btn">
    <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
    </span>
    </p>
  </form>
</div> -->
<button ng-click = 'connect()'>log inBUtton</button>
<button ng-click = 'profile()'>profile BUtton</button>
<h4>{{ profileInformation }}</h4>
<div id="top" class="jumbotron" data-src="http://peterschoffelen.us/view/images/dog.gif" data-position="bottom right">
  <div class="container">
    <h1>{{profileInformation.values[0].firstName}} {{profileInformation.values[0].lastName}} </h1>
    <p class="lead">{{profileInformation.values[0].headline}} </p>
    <p class="lead">Resume</p>
  </div>
</div>
<div id="profile" class="container">
  <h2>Profile</h2>
  <p class="lead">-Subtitle - I'm a webdeveloper</p>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h3>About me</h3>
      <p>
      About me Description</p>
    </div>
    <div class="col-md-4 text-center">
      <img class = "profilePicture" src="{{profileInformation.values[0].pictureUrl}}" width="100" height="100" />
    </div>
    <div class="col-md-4">
      <h3>Details</h3>
      <p>
      <strong>Name:</strong><br />
      {{profileInformation.values[0].firstName}} {{profileInformation.values[0].lastName}}<br />
      <strong>Age:</strong><br />
      25 years<br />
      <strong>Location:</strong><br />
      {{profileInformation.values[0].location.name}}</p>
      
      <a href="https://twitter.com/gschoff" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow twitter handle</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
  <hr />
</div>

<!-- Jeff added ui-view here to connect profile.html here when page goes to /main/profile -->
<div ui-view=""></div>
<div class = "container">
  <h3>Education</h3>
  <div class="experience row">
    <div class="col-md-4">
      <h4>{{profileInformation.values[0].educations.values[0].schoolName}}</h4>
      <p class="experience-period">
      {{profileInformation.values[0].educations.values[0].startDate.year}}       -
      {{profileInformation.values[0].educations.values[0].endDate.year}}       </p>
    </div>
    <div class="col-md-8">
      <p>
      <strong>{{profileInformation.values[0].educations.values[0].degree}} - {{profileInformation.values[0].educations.values[0].fieldOfStudy}}</strong>
      <span class="hidden-phone">
      Description       </span>
      <span class="experience-details">
      <span class="location">
      <span class="glyphicon glyphicon-map-marker"></span>
      Location         </span>
      </span>
      </p>
    </div>
  </div>
  <hr />
</div>
<!-- Careers -->
<div class = "container">
  <h3>Careers</h3>
  <div class="experiences">
    <div class="experience row" ng-repeat="position in profileInformation.values[0].positions.values">
      <div class="col-md-4">
        <h4>{{position.company.name}}</h4>
        <p class="experience-period">
        {{position.startDate.year}}        -
        Current     </p>
      </div>
      <div class="col-md-8">
        <p>
        <strong>{{position.title}}</strong>
        <span class="hidden-phone">
        {{position.summary}}</span>
        <span class="experience-details">
        <span class="location">
        <span class="glyphicon glyphicon-map-marker"></span>
        Location         </span>
        
        
        <span class="seperator">|</span>
        <span class="link">
        <span class="glyphicon glyphicon-link"></span>
        <a href="link" target="_blank">Career Link</a>
        </span>
        
        
        </span>
        </p>
      </div>
    </div>
  </div>
  <hr />
</div>
<!-- Skills Column1 -->
<div class = "container">
  <h3>Skills</h3>
  <div class="row">
    
    <div class="col-md-6">
      <ul class="no-bullets">
        
        
        <li ng-repeat="skill in profileInformation.values[0].skills.values | limitTo: 5">
          <span class="ability-title">{{skill.skill.name}}</span>
          <span class="ability-score">
          
          
          <span class="glyphicon glyphicon-star filled"></span>
          
          
          <span class="glyphicon glyphicon-star filled"></span>
          
          
          <span class="glyphicon glyphicon-star filled"></span>
          
          
          <span class="glyphicon glyphicon-star filled"></span>
          
          
          <span class="glyphicon glyphicon-star filled"></span>
          
          
          </span>
        </li>
      </div>
    </div>
    <hr />
  </div>
  <!-- Contact Information -->
  <div class="gray-background">
    <div id="contact" class="container">
      <h2>Contact Information</h2>
      <p class="lead">
      &ldquo;Feel Free to Contact me Anytime&rdquo;<br />- Or Quote
      </p>
      <div class="row">
        <div class="col-md-6">
          <ul class="no-bullets">
            <li>
              <a href="{{profileInformation.values[0].emailAddress}}" target="_blank">
                <span class="icon icon-twitter">Email - </span>
              {{profileInformation.values[0].emailAddress}}       </a>
            </li>
            <li>
              <a href="{{profileInformation.values[0].publicProfileUrl}}" target="_blank">
                <span class="icon icon-linkedin">LinkedIn - </span>
              {{profileInformation.values[0].publicProfileUrl}}        </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="no-bullets">
            <li>
              <a href="{{profileInformation.values[0].twitterAccounts}} ">
                <span class="icon icon-skype">Twitter - </span>
              {{profileInformation.values[0].twitterAccounts}}    </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Footer V 1.0 |
      <a href="footer">Footer Link</a> 
    </div>
  </footer>